* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Header */
#headerH2 {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(37, 37, 135),
    rgb(162, 0, 255)
  );
  padding: 15px;
  height: 80px;
  width: 100%;
  color: white;
}

main {
  display: flex;
}

/* Search Basic Formtating */
.searchFormat {
  margin: 5px;
  width: 85%;
}

/* Parent */
#searchBar {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 30%;
}

/* Search Header */
#searchH1 {
  font-size: 40px;
}

/* Search Input */
#searchInput {
  height: 58px;
  padding: 15px;
  font-size: 17px;
  border: 2px solid darkgrey;
  border-radius: 12.5px;
}

/* Clear Button */
#clearButton,
#searchResults {
  display: none;
}

/* Search Button */
#searchButton,
#clearButton {
  background-color: lightskyblue;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 11px;
  border-radius: 5.5px;
}

/* search hr */
hr {
  height: 5px;
  background-color: darkgrey;
}

#recentSearchesDisplay {
  background-color: lightgrey;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 11px;
  border-radius: 5.5px;
}

#currentDayResults {
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 850px;
}

.resultText {
  margin: 15px;
}

#weekForecast {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecastCards {
  background-color: navy;
  width: 150px;
  color: white;
}

.forecastCardsText {
  margin: 15px;
}
