* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Header */
#headerH2 {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(37, 37, 135),
    rgb(162, 0, 255)
  );
  padding: 15px;
  height: 80px;
  width: 100%;
  color: white;
}

/* Search column stuff */

/* Search Basic Formtating */
.searchFormat {
  margin: 5px;
  width: 55%;
}

/* Parent */
#searchBar {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

/* Search Header */
#searchH1 {
  font-size: 40px;
}

/* Search Input */
#searchInput {
  height: 58px;
  padding: 15px;
  font-size: 17px;
  border: 2px solid darkgrey;
  border-radius: 12.5px;
}

/* Search Button */
#searchButton {
  background-color: lightskyblue;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 11px;
  border-radius: 5.5px;
}

/* search hr */
hr {
  height: 5px;
  background-color: darkgrey;
}
